<form [formGroup]="formulario" (ngSubmit)="salvar()">
  <header>
    Monta seu Lanche
  </header>
  <div class="form-row">
    <div class="form-group col-md-4" [ngClass]="aplicaCssErro('nome')">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" formControlName="nome" placeholder="Nome" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4" [ngClass]="aplicaCssErro('valor')">
      <label for="valor">Valor</label>
      <input type="text" class="form-control" formControlName="valor" placeholder="Valor" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4"  *ngFor="let ingrediente of ingredientes; let i=index">
      {{ingrediente.nome}}
      <select  formControlName="drp{{i}}" class="form-control col-md-4">            
        <option value="1">
          1
        </option>
        <option value="2">
          2
        </option>
        <option value="3">
          3
        </option>
        <option value="4">
          4
        </option>
        <option value="5">
          5
        </option>
      </select>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Salvar</button>

</form>